.signup {
    margin-top: 10rem;
    border: 1px solid #D4D4D4;
    width: 30rem;
    padding: 20px;
    margin-left: 36rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .eye i {
    font-size: 20px;
    position: absolute;
    top: 24rem;
    left: 62rem;
  }

  .login-btn {
    border: none;
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin: 10px 0 12px 0;
    padding: 10px;
    background: #0582b4;
    border-radius: 5px;
    cursor: pointer;
  }
  
