* {
font-family: monospace;
}

header {
  display: grid;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  margin-left: 13rem;
}

.circle {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  z-index: -1;

}

.blue{
background: #87ceeb;
left: 7rem;
}

.pink{
background: #ffc0cb;
left: 9rem;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 200%;
  font-weight: 700;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-right: 7rem;
  list-style-type: none;
}

.nav-links a  {
  text-decoration: none;
  font-size: 140%;
}

.icon {
  font-size: 150%;
}

li {
  display: flex;
  gap: 2rem;
}

li a {
  color: black;
}

.nav-bg {
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, 0.4);
  background: #fff;
}


